:root {
    /**
	 * Colours
	 */

    --color--1: white;
    --color--2: black;

    /**
	 * Font families
	 */
    --family--1: "LayGrotesk";

    /* Font fallbacks (retrieved from systemfontstack.com)
	 * Sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	 * Serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	 * Mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	 */
    --family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;

    /**
	 * Containers
	 */
    --container-max-width-1: 1366px;
    --container-max-width-2: 1286px;
    --container-max-width-3: 850px;

    /* Default padding */
    --container-padding-xl: 40px;
    --container-padding-lg: 36px;
    --container-padding-sm: 4.5vw;

    /**
	 * Base
	 */
    --base--text-color: var(--color--2);
    --base--bg-color: var(--color--1);
    --base--font-family: var(--family--1);

    /**
	* Scroller
	*/
    --scroller-width: 5px;
    --scroller-height: calc(var(--dvh, 1vh) * 40);
    --scroller-distance-right: 0;
    --scroller-distance-color: rgba(255, 255, 255, 0.1);
    --scroller-indicator-color: var(--color--1);
    --scroller-transition-duration: 0.4s;
    --scroller-background-color: rgba(0, 0, 0, 0.8);
    --scroller-background-shadow: drop-shadow(0 20px 13px #00000008)
        drop-shadow(0 8px 5px #00000014);
    --scroller-background-blur: blur(20px);
    --scroller-background-padding-x: 4px;
    --scroller-background-padding-y: 4px;
    
}
