/**
 * Disable button
 */
%u-disable-button {
    appearance: none;
    box-shadow: none;
    outline: none;
}

@for $i from 1 to 2 {
    .u-btn--$(i) {
        @extend %u-disable-button;
        cursor: pointer;
        user-select: none;
        width: fit-content;
    }
}

/**
 * Primary button
 */
.u-btn--1 {
    display: flex;
    align-items: center;
    background: var(--color--1);
    color: var(--color--2);
    height: 30px;

    .btn_label {
        align-items: center;
        display: inline-flex;
        flex: 1 1 auto;
        font-family: var(--family--3);
        font-size: 13px / 1em;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 1px;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    /* Hover */
    @media (hover) {
        &:hover {
            background-color: var(--color--3);
            .btn_label {
                color: var(--color--1);
            }
        }
    }
}

.u-btn--2 {
    position: relative;
    overflow: hidden;

    .btn_label {
        font-size: responsive 16px 20px;
        font-range: 420px 1366px;
        font-weight: 500;
        transition: transform 0.3s;
        display: inline-block;
    }

    .btn_label_up {
        position: absolute;
        left: 0;
        font-size: responsive 16px 20px;
        font-range: 420px 1366px;
        font-weight: 500;
        transform: translateY(-200%);
        transition: transform 0.3s;
    }

    @media (hover) {
        &:hover {
            .btn_label {
                transform: translateY(200%);
            }
            .btn_label_up {
                transform: translateY(0);
            }
        }
    }
}
